
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


/*Header*/
header {
    width: 100%;
    display: block;
    height: 100px;
    padding: 26px;
    box-sizing: border-box;
    background-color: tomato;
    border-bottom: 1px solid darkred;
    margin-bottom: 20px;
}

.cart-button {
    float: right;
    margin-right: 100px;
}

.cart-button {
    display: inline-flex;

    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    outline: 1px solid;
    outline-color: #337AB7;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);  
}
.cart-button:hover,
.cart-button:active,
.cart-button:focus {
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}

/*Main*/
main {
    width: 65%;
    margin: 0px auto;
}

.goods-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.goods-item {
    width: calc(20% - 10px);
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid darkred;
    text-align: center;
}

.goods-item h3 {
    height: 30px;
    font-size: 16px;
}

.goods-item img {
    width: 100%;
}
